* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #eee;
}

:root {
    --background-dark-color: #000;
    --white-color-font: #eee;
    --border-photo-color-gradient: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128)80%);
    --border-post: #323030;
}


body {
    width: 100%;
    background-color: var(--background-dark-color);
    font-family: "Roboto", sans-serif;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.stories {
    display: flex;
    flex-direction: column;
}

.stories-content {
    max-width: 1440px;
    width: 100%;
    display: flex;
}

/* Highlights stories */

.status-highlights {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: ;
    cursor: pointer;
}

.items-highlights {
    flex: 0 0 auto;
    width: 70px;
    height: 90px;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

/* Highlights profiles stories */

.highlights-profile {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    padding: 2px;
    margin: 5px;
    background: var(--border-photo-color-gradient);
}

/* Highlights photos profiles stories */

.highlights-profile img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 3px solid var(--background-dark-color);
}

.user-name {
    font-size: 12px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-color-font);
}

/* Posts */

.posts {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 5px;
}

.post {
    border-bottom: 1px solid var(--border-post);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Info user posts*/


.header-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-post .user-name {
    font-weight: bold;
    color: var(--white-color-font);
    font-size: 14px;
    margin-left: 10px;
}

.header-post .option {
    height: 20px;
    cursor: pointer;
}

.header-post .information-user {
    display: flex;
    align-items: center;
}

.header-post .highlights-profile {
    height: 60px;
    width: 60px;
    padding: 2px;
    cursor: pointer;
}

.header-post .post-time {
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
}

.header-post .icone-verification {
    width: 20px;
    margin-left: 3px;
}

/* images and videos setting posts*/

.cover-post {
    margin-top: 1rem;
    width: 100%;
    height: 600px;
    object-fit: cover;
    border: 1px solid var(--border-post)
}


.content-post {
    width: 100%;
}

/* Reaction icones posts*/

.reaction-icones {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.reaction-icones .icones {
    height: 25px;
    margin: 0;
    margin-right: 20px;
}

.reaction-icones .icones-save {
    margin-left: auto;
    height: 25px;
    cursor: pointer;
}

.likes {
    font-weight: bold;
}

.description {
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
}

/* Description and comments posts */

.description span {
    font-weight: bold;
    margin-right: 3px;
}

.post-time {
    color: #ddd;
    font-size: 12px;

}

.comments-post {
    width: 100%;
    height: 50%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comments-post .icones-smile {
    margin-left: auto;
    margin-bottom: 10px;
    height: 25px;
    cursor: pointer;
}

/* Dividing border posts */