* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    text-decoration: none;
}

:root {
    --background-dark-color: #000;
    --white-color-font: #eee;
    --background-light-color: #fafafa;
    --border-photo-color-gradient: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128)80%);
    --border-post: #222;
    --text-gray: #737373;
}


body,
html {
    height: 100%;
    width: 100%;
    background-color: var(--background-light-color);
    font-family: "Roboto", sans-serif;
    color: var(--text-gray);
}

main {
    background-color: var(--background-light-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text-gray);
}

.main-content {
    width: 50%;
    color: var(--text-gray);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
}


/* iphone */

.iphone {
    margin-right: auto;
    margin-left: auto;
}


.iphone .iphone-img {
    width: 380px;
    height: 581px;
    margin-top: 50px;
}


/* login-section */

.login-section {
    margin-left: auto;
    margin-right: auto;
}


.main-content .login-section {
    width: 348px;
    background-color: #ffffff;
    margin: 0px 0px 10px;
    padding: 10px 0px;
    text-align: center;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content .login-section .logo {
    width: 175px;
    margin-top: 36px;
    margin-bottom: 12px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.login-form input {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3897f0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #3277e0;
}

/* alternative-login */

.alternative-login {
    margin-top: 20px;
    text-align: center;
}

.alternative-login p {
    color: #3b5998;
    margin-bottom: 10px;
}


/* facebook-login */

.facebook-login {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3b5998;
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.facebook-login span {
    color: #3b5998;
}

.facebook-login img {
    width: 20px;
    height: 20px;
    margin: 5px;
}

/* link */

a {
    text-decoration: none;
    color: #385185;
    font-size: 0.8rem;
}

/* login-section-footer */

.login-section-footer {
    width: 348px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    background-color: #ffffff;
    margin-top: 10px;
}

.signup-section {
    align-items: center;
    justify-content: center;
}

/* signup-section */

.signup-section {
    margin: 10px 0px;
    padding: 10px 0px;
    text-align: center;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-link {
    margin-left: 5px;
    font-weight: bold;
    font-size: 1rem;

}

/* app download section */

.app-download-section {
    margin-top: 20px;
    text-align: center;
}

.app-icons img {
    align-items: center;
    padding: 10px 0px;
    width: 140px;
}

/* footer */

footer {
    font-size: 0.8rem;
    margin-top: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

footer .copyright,
footer a {
    color: var(--text-gray);
    margin-right: 1rem;
}

footer .copyright span {
    color: var(--text-gray);
}