* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #eee;
}

#flamengo {
  background-color: aquamarine;
  position: sticky;

  z-index: 100;

  top: 0;
  left: 0;
}

h2 {
  color: black;
}

.box {
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 300px;
  display: flex;
  position: relative;
  margin-bottom: 25px;
}



main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.element {
  position: absolute;

  top: 10px;
  right: 10px;

  background-color: red;
  width: 20px;
  height: 20px;
}

p {
  color: black;
}

.button-top {
  position: fixed;

  bottom: 30px;
  right: 30px;

  border-radius: 50%;

  background-color: red;
  width: 20px;
  height: 20px;
}