* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-dark-color: #000;
    --white-color-font: #eee;
    --background-light-color: #fafafa;
    --border-input: #ddd;
    --border-photo-color-gradient: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128)80%);
    --border-post: #222;
    --text-gray: #737373;
    --login-box-border: #ddd;
    --bg-login-box: #fff;
    --blue: #0095f6;
    --divisor-color: #ddd;
}

body,
html {
    height: 100%;
    width: 100%;
    background-color: var(--background-light-color);
    font-family: "Roboto", sans-serif;
    color: var(--text-gray);
}

main {
    background-color: var(--background-light-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text-gray);
}

a {
    text-decoration: none;
}

.main-content {
    width: 400px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* login-section */
.main-content .login-section{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.main-content .login-section .login-box {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--login-box-border);
    background-color: var(--bg-login-box);
}

/* text logo */

.main-content .login-section .logo-instagram {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content .login-section .logo-instagram .logo {
    width: 190px;
}

/* slogan */

.main-content .login-section .slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    color: #636363;
    font-weight: 600;
}

.main-content .login-section .slogan span {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight:700;
}

.slogan button {
    all: unset;
    background-color: var(--blue);
    color: #fff;
    align-items: center;
    text-align: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding: 8px;
    margin: 16px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}

.main-content .slogan button img {
    margin-right: 0.5rem;
    width: 15px;
}

/* login form */

.login-section form {
    display: flex;
    flex-direction: column;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.login-section form input {
    background-color: var(--border-input);
    margin-top: 0.4rem;
    border: 1px solid #ddd;
    padding: 0.75rem;
    border-radius: 4px;
    color: black;
}

.login-section form button {
    all: unset;
    background-color: var(--blue);
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}

.login-section div.or {
    display: flex;
    align-items: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-bottom: 1rem;
}

.login-section div.or .divisor {
    height: 1px;
    width: 100%;
    background-color: var(--divisor-color);
}

.login-section div.or span {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    color: #737373;
    font-weight: 500;
    font-size: 0.90rem;
}

/* Login */

.login-section section.sign-up {
    display: flex;
    border: 2px solid var(--login-box-border);
    margin-top: 1rem;
    gap: 0.5rem;
    justify-content: center;
    padding: 1rem;
    font-size: 0.95rem;
}

.login-section .sign-up span {
    color: black;
}

/* terms & privacy policy */

.login-section .privacy-policy {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 0.3rem;
    flex-wrap: wrap;
}

.button-signup {
    background-color: var(--blue);
    color: #fff;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    align-items: center;
    text-align: center;
    padding: 8px;
    margin: 16px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}

/* download the app */
.login-section footer.download-section {
    display: flex;
    flex-direction: column;
}

.login-section footer.download-section p {
    color: #000;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
}

.login-section footer.download-section .icons-apps {
    display: flex;
    justify-content: center;
}

.login-section footer.download-section .icons-apps img {
    max-width: 160px;
    margin-bottom: 1rem;
    cursor: pointer;
}

section.sign-up a {
    color: var(--blue);
    font-weight: 500;
}

/* footer */
main>footer {
    font-size: 0.8rem;
    margin-top: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

main>footer .links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

main>footer .copyright .lang {
    margin-right: 2rem;
}

main>footer .copyright span,
footer a {
    color: var(--text-gray);
}