.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.profile {
    margin-right: 20px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 30px;
}

.details {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.user-name h2 {
    font-size: 25px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
}

.button {
    display: flex;
    background-color: #323030;
    margin: 5px;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #1e2021;
}

.setting img {
    width: 24px;
    height: 24px;
    margin-left: 5px;
}

.stats {
    display: flex;
    align-items: start;
    margin-left: 55px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.post,
.followers,
.following {
    display: flex;
}

.post p,
.followers p,
.following p {
    margin: 0;
    font-size: 12px;
}

.post,
.followers,
.following {
    display: flex;
    align-items: center;
    margin: 20px;
}

.post h3,
.followers h3,
.following h3 {
    margin-right: 5px;

}

.post p,
.followers p,
.following p {
    margin: 0;
    font-size: 15px;
}

.description {
    width: 500px;
    margin-left: 50px;

}

.description p {
    font-size: 14px;
}

.description span {
    font-size: 17px;
    margin-right: auto;
}

.profile {

    margin-bottom: 20px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.add-icon {
    display: flex;
    right: -10px;
    border-radius: 50%;
}

.add-icon img {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
}

.photos-container {
    display: flex;
    justify-content: space-between;
}

.photo {
    width: 309px;
    height: 309px;
}

.photo img {
    width: 100%;
    height: 600%;
    object-fit: cover;
}