.main-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.feed {
  margin-top: 1rem;
  max-width: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stories {
  display: flex;
  flex-direction: column;
}

/* Highlights stories */

.stories-content {
  max-width: 1440px;
  width: 100%;
  display: flex;
}

.status-highlights {
  width: 100%;
  height: 120px;
  display: flex;
  cursor: pointer;
}

.items-highlights {
  flex: 0 0 auto;
  width: 70px;
  height: 90px;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

/* Highlights profiles users stories */

.highlights-profile {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  padding: 2px;
  margin: 5px;
  background: var(--border-photo-color-gradient);
}

/* Highlights users photos and info profiles stories */

.highlights-profile img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 3px solid var(--background-dark-color);
}

.user-name {
  font-size: 12px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-color-font);
}

/* POSTS */

.posts {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 5px;
}

.post {
  border-bottom: 1px solid var(--border-post);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Info user posts*/


.header-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header-post .user-name {
  font-weight: bold;
  color: var(--white-color-font);
  font-size: 14px;
  margin-left: 10px;
}

.header-post .option {
  height: 20px;
  cursor: pointer;
}

.header-post .information-user {
  display: flex;
  align-items: center;
}

.header-post .highlights-profile {
  height: 60px;
  width: 60px;
  padding: 2px;
  cursor: pointer;
}

.header-post .post-time {
  align-items: center;
  margin-top: 5px;
  margin-left: 5px;
}

.header-post .icone-verification {
  width: 20px;
  margin-left: 3px;
}

/* Images and videos setting posts*/

.cover-post {
  margin-top: 1rem;
  width: 100%;
  height: 600px;
  object-fit: cover;
  border: 1px solid var(--border-post)
}


/* Reaction icones posts*/

.reaction-icones {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.reaction-icones .icones {
  height: 25px;
  margin: 0;
  margin-right: 20px;
}

.reaction-icones .icones-save {
  margin-left: auto;
  height: 25px;
  cursor: pointer;
}

.likes {
  font-weight: bold;
}

.description {
  margin: 10px 0;
  font-size: 14px;
  line-height: 20px;
}

/* Description and comments posts */

.description span {
  font-weight: bold;
  margin-right: 3px;
}

.post-time {
  color: #ddd;
  font-size: 12px;
}

.comments-post {
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments-post .icones-smile {
  margin-left: auto;
  margin-bottom: 10px;
  height: 25px;
  cursor: pointer;
}

/* Right Sidebar */

.right-sidebar {
  margin-left: 4rem;
  width: 325px;
  padding: 2rem;
}

.right-sidebar .profile {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.right-sidebar .profile img {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  cursor: pointer;
}

.right-sidebar .profile .profile-infos {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 0.90rem;
}

.right-sidebar .username {
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.right-sidebar .nickname {
  color: #999;
}

.right-sidebar .header-suggestions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 0.85rem;
  font-weight: 500;
}

.right-sidebar .view-all {
  font-size: 0.80rem;
}

.right-sidebar .suggestions-fy {
  color: #888;
}

.right-sidebar .suggestions .nickname {
  font-size: 0.80rem;
}

.link-blue {
  color: var(--blue);
  margin-left: auto;
  font-weight: 500;
  font-size: 0.80rem;
  cursor: pointer;
}

.link-blue:hover {
  color: #daecf8;
}

/* footer */

.footer {
  margin-top: 1.5rem;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer a,
.footer p {
  color: #444;
}

@media (max-width: 1500px) {
  .right-sidebar {
    width: auto;
    max-width: 350px;
    margin-left: 1rem;
  }
}

@media (max-width: 1350px) {
  .right-sidebar {
    padding-right: 1rem;
  }
}

@media (max-width: 1150px) {
  .right-sidebar {
    display: none;
  }
}

@media (max-width: 765px) {

  main,
  .main-content,
  .feed {
    overflow: hidden;
  }
}