* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #eee;
}

:root {
    --background-dark-color: #000;
    --white-color-font: #eee;
    --border-photo-color-gradient: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128)80%);
    --border-post: #222;
}

/* 0 1 2 3 4 5 6 7 8 9 a b c d e f */

body,
html {
    height: 100%;
    width: 100%;
    background-color: var(--background-dark-color);
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
}