* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #eee;
}

:root {
    --background-dark-color: #000;
    --white-color-font: #eee;
    --border-photo-color-gradient: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128)80%);
    --border-post: #222;
}


body,
html {
    height: 100%;
    width: 100%;
    background-color: var(--background-dark-color);
    font-family: "Roboto", sans-serif;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    min-height: 100vh;
    width: 100%;
    display: flex;
}

/* Aside */
aside {
    position: sticky;
    top: 0;
    left: 0;

    z-index: 100;
    height: 100vh;


    padding: 40px 8px;
    min-width: 335px;
    border-right: 1px solid var(--border-post);

    display: flex;
    flex-direction: column;
}

aside .header-sidebar {
    margin-bottom: 40px;
    padding-left: 16px;
}

aside .header-sidebar img {
    width: 103px;
}

aside ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

aside ul li {
    border-radius: 8px;
    padding: 8px;
    transition: background 0.5s;
}

aside ul li:hover {
    background-color: #222;
}

aside ul li a {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 400;
}

aside nav ul li a #messages {
    display: flex;
    position: relative;
}

aside nav ul li a .notification {
    position: absolute;
    top: -5px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgb(255, 43, 43);
}

aside nav ul li a#profile img {
    border-radius: 100%;
    width: 30px;
}

aside .footer-sidebar {
    margin-top: auto;
}

.icon {
    width: 25px;
}